<div class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Lista de Productos</h1>
    <a
      routerLink="/crear"
      class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition"
    >
      + Agregar Producto
    </a>
  </div>

  <div class="overflow-x-auto bg-white shadow rounded-lg">
    <table class="min-w-full text-sm text-gray-700">
      <thead
        class="bg-gray-100 text-left text-xs uppercase font-bold text-gray-600"
      >
        <tr>
          <th class="px-6 py-4">Nombre</th>
          <th class="px-6 py-4">Precio</th>
          <th class="px-6 py-4">Descripción</th>
          <th class="px-6 py-4 text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let producto of productos"
          class="border-b hover:bg-gray-50 transition"
        >
          <td class="px-6 py-4 font-medium">{{ producto.title }}</td>
          <td class="px-6 py-4">{{ producto.price | currency : "USD " }}</td>
          <td class="px-6 py-4">{{ producto.description }}</td>
          <td class="px-6 py-4 text-center">
            <div class="flex items-center justify-center gap-2">
              <button
                (click)="verProducto(producto.id)"
                class="bg-pink-400 text-white px-3 py-1 rounded hover:bg-pink-600"
              >
                Ver
              </button>
              <button
                (click)="editarProducto(producto.id)"
                class="bg-purple-500 text-white px-3 py-1 rounded hover:bg-purple-600"
              >
                Editar
              </button>
              <button
                (click)="eliminarProducto(producto.id)"
                class="bg-cyan-600 text-white px-3 py-1 rounded hover:bg-cyan-700"
              >
                Eliminar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  *ngIf="modalVisible"
  class="fixed inset-0 bg-[rgba(0,0,0,0.5)] flex items-center justify-center z-50"
>
  <div class="bg-white p-6 rounded shadow-md w-full max-w-md relative">
    <h2 class="text-xl font-bold mb-4 text-gray-800">Detalles del Producto</h2>
    <p><strong>Nombre:</strong> {{ productoSeleccionado?.title }}</p>
    <p>
      <strong>Precio:</strong>
      {{ productoSeleccionado?.price | currency : "US" }}
    </p>
    <p><strong>Descripción:</strong> {{ productoSeleccionado?.description }}</p>
    <img
      *ngIf="productoSeleccionado?.images?.length > 0"
      [src]="productoSeleccionado.images[0]"
      alt="Imagen del producto"
      class="mt-4 w-full h-auto rounded"
    />

    <button
      (click)="cerrarModal()"
      class="absolute top-2 right-2 text-gray-400 hover:text-gray-700 text-xl"
    >
      &times;
    </button>
  </div>
</div>
